Repository commercetools/merchant-center-application-kit, pull requests merged in 2023-04, with the labels that each got.

#3025 Docs: Update release notes topics
  website/src/releases/2020-10/release-v17.mdx
  website/src/releases/2021-01/community-discussions.mdx
  website/src/releases/2021-01/release-v18.mdx
  website/src/releases/2021-04/release-v19.mdx
  website/src/releases/2021-08/rewrite-starter-template.mdx
  website/src/releases/2022-02/release-v21.mdx
  website/src/releases/2022-04/release-v21.3.mdx
  website/src/releases/2022-05/release-v21.6.mdx
  website/src/releases/2022-06/general-availability.mdx
  website/src/releases/2022-07/extending-private-installations.mdx
  website/src/releases/2022-07/migration-deadline-postponed.mdx
  website/src/releases/2022-07/release-v21.8.mdx
  website/src/releases/2022-09/readable-page-title.mdx
  website/src/releases/2022-12/custom-applications-multiple-permissions.mdx
  website/src/releases/2023-03/button-sizes.mdx
Labels: ✍️ Type: Documentation

#3014 refactor(docs): remove limitation for cache in docs
  website/src/content/help-needed.mdx
Labels: 🛑 Status: blocked

#3036 [Breaking] Remove GA tracking
  .changeset/tiny-beers-drum.md
  packages/application-components/src/components/tab-header/tab-header.tsx
  packages/application-shell/package.json
  packages/application-shell/src/components/application-shell-authenticated/application-shell-authenticated.tsx
  packages/application-shell/src/components/application-shell-provider/application-shell-provider.spec.js
  packages/application-shell/src/components/application-shell-provider/application-shell-provider.tsx
  packages/application-shell/src/components/application-shell/application-shell.spec.js
  packages/application-shell/src/components/application-shell/application-shell.tsx
  packages/application-shell/src/components/gtm-application-tracker/gtm-application-tracker.spec.js
  packages/application-shell/src/components/gtm-application-tracker/gtm-application-tracker.tsx
  packages/application-shell/src/components/gtm-application-tracker/index.ts
  packages/application-shell/src/components/gtm-booter/gtm-booter.spec.tsx
  packages/application-shell/src/components/gtm-booter/gtm-booter.tsx
  packages/application-shell/src/components/gtm-booter/index.ts
  packages/application-shell/src/components/gtm-user-logout-tracker/gtm-user-logout-tracker.spec.js
  packages/application-shell/src/components/gtm-user-logout-tracker/gtm-user-logout-tracker.tsx
  packages/application-shell/src/components/gtm-user-logout-tracker/index.ts
  packages/application-shell/src/components/gtm-user-tracker/gtm-user-tracker.spec.js
  packages/application-shell/src/components/gtm-user-tracker/gtm-user-tracker.tsx
  packages/application-shell/src/components/gtm-user-tracker/index.ts
  packages/application-shell/src/components/locale-switcher/locale-switcher.tsx
  packages/application-shell/src/components/navbar/menu-items.tsx
  packages/application-shell/src/components/navbar/navbar.tsx
  packages/application-shell/src/components/navbar/tracking-events.ts
  packages/application-shell/src/components/project-switcher/project-switcher.tsx
  packages/application-shell/src/components/quick-access/index.tsx
  packages/application-shell/src/components/quick-access/quick-access.spec.js
  packages/application-shell/src/components/quick-access/tracking-events.ts
  packages/application-shell/src/components/user-settings-menu/user-settings-menu.tsx
  packages/application-shell/src/index.ts
  packages/application-shell/src/track-performance.ts
  packages/application-shell/src/tracking-event-list.ts
  packages/application-shell/src/utils/GTM.md
  packages/application-shell/src/utils/gtm.ts
  packages/constants/src/constants.ts
  packages/mc-html-template/README.md
  packages/mc-html-template/html-docs/application.html
  packages/mc-html-template/html-scripts/data-layer.js
  packages/mc-html-template/src/load-html-scripts.d.ts
  packages/mc-html-template/src/load-html-scripts.js
  packages/mc-html-template/src/process-headers.spec.ts
  packages/mc-html-template/src/process-headers.ts
  packages/mc-html-template/src/replace-html-placeholders.ts
  packages/react-notifications/src/components/notification/notification.spec.tsx
  playground/src/components/state-machines-details/state-machines-details.jsx
  playground/src/components/state-machines-list/state-machines-list.spec.js
  yarn.lock
Labels: 💥 Type: Breaking Change

#3039 [Breaking] Drop support for Node.js `v14`
  .changeset/silver-houses-speak.md
  package.json
  packages-backend/eslint-config-node/package.json
  packages-backend/express/package.json
  packages/application-config/package.json
  packages/application-shell-connectors/package.json
  packages/application-shell/package.json
  packages/babel-preset-mc-app/package.json
  packages/codemod/package.json
  packages/create-mc-app/package.json
  packages/cypress/package.json
  packages/cypress/tsconfig.json
  packages/eslint-config-mc-app/package.json
  packages/mc-dev-authentication/package.json
  packages/mc-html-template/package.json
  packages/mc-scripts/package.json
  yarn.lock
Labels: 💥 Type: Breaking Change

#3029 [Breaking] Upgrade `react-intl` to `v6`
  .changeset/famous-rings-relax.md
  .changeset/khaki-spies-confess.md
  application-templates/starter-typescript/package.json
  application-templates/starter/package.json
  package.json
  packages/application-components/package.json
  packages/application-components/src/components/page-not-found/page-not-found.tsx
  packages/application-shell/package.json
  packages/i18n/package.json
  packages/jest-preset-mc-app/package.json
  packages/mc-scripts/package.json
  packages/react-notifications/package.json
  playground/package.json
  visual-testing-app/package.json
  website-components-playground/package.json
  website/package.json
  yarn.lock
Labels: 💥 Type: Breaking Change

#3026 [Breaking] Upgrade to Jest `v29`
  .changeset/cuddly-chicken-learn.md
  application-templates/starter-typescript/package.json
  application-templates/starter/package.json
  package.json
  packages-backend/eslint-config-node/package.json
  packages-backend/express/src/middlewares/session-middleware.spec.ts
  packages/application-components/src/components/main-pages/custom-form-main-page/custom-form-main-page.spec.tsx
  packages/application-components/src/components/main-pages/form-main-page/form-main-page.spec.tsx
  packages/application-config/package.json
  packages/application-config/test/json-schema.spec.js
  packages/application-config/test/process-config.spec.js
  packages/application-shell/package.json
  packages/application-shell/src/apollo-links/header-link.spec.js
  packages/application-shell/src/components/application-shell-provider/use-coerced-environment-values.spec.ts
  packages/application-shell/src/utils/http-client.spec.ts
  packages/codemod/test/__snapshots__/transforms.spec.ts.snap
  packages/cypress/package.json
  packages/eslint-config-mc-app/package.json
  packages/jest-preset-mc-app/jest-preset.js
  packages/jest-preset-mc-app/module-exports-resolver.js
  packages/jest-preset-mc-app/package.json
  packages/jest-preset-mc-app/transform-babel-jest.js
  packages/jest-preset-mc-app/transform-graphql.js
  packages/mc-scripts/src/utils/get-config-diff.spec.ts
  packages/sdk/package.json
  visual-testing-app/src/components/application-icons/application-icons.visualspec.ts
  visual-testing-app/src/components/confirmation-dialog/confirmation-dialog.visualspec.ts
  visual-testing-app/src/components/custom-form-detail-page/custom-form-detail-page.visualspec.ts
  visual-testing-app/src/components/custom-form-main-page/custom-form-main-page.visualspec.ts
  visual-testing-app/src/components/custom-form-modal-page/custom-form-modal-page.visualspec.ts
  visual-testing-app/src/components/form-detail-page/form-detail-page.visualspec.ts
  visual-testing-app/src/components/form-dialog/form-dialog.visualspec.ts
  visual-testing-app/src/components/form-main-page/form-main-page.visualspec.ts
  visual-testing-app/src/components/form-modal-page/form-modal-page.visualspec.ts
  visual-testing-app/src/components/info-detail-page/info-detail-page.visualspec.ts
  visual-testing-app/src/components/info-dialog/info-dialog.visualspec.ts
  visual-testing-app/src/components/info-main-page/info-main-page.visualspec.ts
  visual-testing-app/src/components/info-modal-page/info-modal-page.visualspec.ts
  visual-testing-app/src/components/notifications/notifications.visualspec.ts
  visual-testing-app/src/components/page-content-container-combinations/page-content-container-combinations.visualspec.ts
  visual-testing-app/src/components/page-content-container-full/page-content-container-full.visualspec.ts
  visual-testing-app/src/components/page-content-container-narrow/page-content-container-narrow.visualspec.ts
  visual-testing-app/src/components/page-content-container-wide/page-content-container-wide.visualspec.ts
  visual-testing-app/src/components/page-not-found/page-not-found.visualspec.ts
  visual-testing-app/src/components/page-unauthorized/page-unauthorized.visualspec.ts
  visual-testing-app/src/components/public-page-form-wide/public-page-form-wide.visualspec.ts
  visual-testing-app/src/components/public-page-form/public-page-form.visualspec.ts
  visual-testing-app/src/components/public-page-layout/public-page-layout.visualspec.ts
  visual-testing-app/src/components/tabular-detail-page/tabular-detail-page.visualspec.ts
  visual-testing-app/src/components/tabular-main-page/tabular-main-page.visualspec.ts
  visual-testing-app/src/components/tabular-modal-page/tabular-modal-page.visualspec.ts
  yarn.lock
Labels: 💥 Type: Breaking Change

#3048 docs: add release notes for v22
  website/src/releases/2023-04/release-v22.mdx
Labels: ✍️ Type: Documentation

#3059 fix: add special format for DuplicateField error
  .changeset/four-seas-do.md
  packages/react-notifications/src/components/notification-kinds/api-error-message/api-error-message.spec.tsx
  packages/react-notifications/src/components/notification-kinds/api-error-message/api-error-message.tsx
Labels: 🙏 Status: Dev Review
